<div class="container">
    <h1>Router App</h1>
    <nav>
        <ul>
            <li>
                <a routerLink="/home">home</a>
            </li>
            <li>
                <a routerLink="/heroes">hereos</a>
            </li>
            <li>
                <a routerLink="/myheroes">MyHeroes</a>
            </li>
            <li>
                <a routerLink="/dashboard">DashBoard</a>
            </li>
            <li>
                <a routerLink="/register">Register</a>
            </li>
        </ul>
    </nav>
    <hr>
    <router-outlet></router-outlet>
</div>