<div class="container">
    <h1>Hero Registration Form</h1>
    {{heroModel | json}}
    <form #heroForm="ngForm" (ngSubmit)="save()" >

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" #errorMsg1="ngModel" [(ngModel)]="heroModel.title" name="title" class="form-control"
                id="title" required>
        </div>
        <div [hidden]="errorMsg1.valid || errorMsg1.pristine" class="alert alert-danger">
            title is required
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" #errorMsg2="ngModel" class="form-control" [(ngModel)]="heroModel.name" name="name"
                id="name" required>
        </div>
        <div [hidden]="errorMsg2.valid || errorMsg2.pristine" class="alert alert-danger">
            Hero Name is required
        </div>

        <button type="submit" [disabled]="!heroForm.form.valid" class="btn btn-success">Submit</button>

    </form>
</div>