<div class="container">
  <h1 style="text-align: center;">Data Binding</h1>
  <hr>
  <app-interploation></app-interploation>
  <hr>
  <app-attributebinding></app-attributebinding>
  <hr>
  <!-- <app-propsbinding></app-propsbinding> -->
  <!-- <hr> -->
  <!-- <app-eventbinding></app-eventbinding> -->
  <!-- <hr> -->
  <!-- <app-customevents></app-customevents> -->
  <!-- <hr> -->
  <!-- <app-pipes></app-pipes> -->
  <!-- <hr> -->
  <!-- <app-order></app-order> -->
  <!-- <hr> -->
  <!-- <app-if></app-if>
  <hr>
  <app-switchcase></app-switchcase> -->
   <app-attributedirective></app-attributedirective>
</div>